@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@font-face {src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
body{
  background: #fff;
  min-height: 100vh;
  padding: 0;
}
.side-bar{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: 195px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  z-index:100000000;
  
}
.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item{
  position: relative;
  cursor: pointer;
}
.side-bar .menu .item.active 
{
  background: #8521f854;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.side-bar .menu .item a{
  color: rgb(0, 0, 0);
  font-size: 0.7em;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 30px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.side-bar .menu .item a:hover{
  background: #8521f854;
  transition: 0.3s ease;
}

.side-bar .menu .item i{
  margin-right: 20px;
  font-size: 2em;
 justify-content: center;
 align-items: center;
 top: 18px;
}

.side-bar .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu .item .sub-menu a{
  padding-left: 50px;
  font-size: 0.8em;
}

.rotate{
  transform: rotate(90deg);
}

.close-btn{
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}

.menu-btn{
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-left: 10px;
  cursor: pointer;
  background: rgba(225,225,225,0.2);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.crsl
{
  height: 70vh;
}

footer
{
  position: relative;
  background: #8e9091;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social_icon,
footer .bar-ftr
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social_icon li,
footer .bar-ftr li
{
  list-style: none;

}
footer .social_icon li a
{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transform: 0.5s;
}
footer .social_icon li a:hover
{
  transform: translateY(-10px);
}
footer .bar-ftr li a
{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .bar-ftr li a:hover
{
  opacity: 1;
}
footer p
{
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.4em;
}
footer .wave
{
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;

}
footer .wave#w1
{
  z-index: 10;
  opacity: 1;
  bottom: 0;
  animation: wavea 4s linear infinite;
}
footer .wave#w2
{
  z-index: 9;
  opacity: 0.5;
  bottom: 10px;
  animation: waveb 4s linear infinite;
}
footer .wave#w3
{
  z-index: 10;
  opacity: 0.2;
  bottom: 15px;
  animation: waveb 3s linear infinite;
}
footer .wave#w4
{
  z-index: 9;
  opacity: 0.7;
  bottom: 20px;
  animation: waveb 3s linear infinite;
}
@keyframes wavea 
{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}
@keyframes waveb 
{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

.coment
{
  position: relative;
  width: 100%;
  padding: 40px 100px;

}
.coment .title
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  
}
.coment .title h2
{
  color: #fff;
}
.form
{
  grid-area: form;
}
.info
{
  grid-area: info;
}
.map
{
  grid-area: map;
}
.komentar
{
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}
.coment-box
{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info"
  "form map";
  grid-gap: 20px;
  margin-top: 20px;
}
.komentar h3
{
  color: #0e3935;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}
.formBox
{
  position: relative;
  width: 100%;
}
.formBox .row50
{
  display: flex;
  gap: 20px;
}
.inputBox
{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBox .row100 .inputBox
{
  width: 100%;
}
.inputBox span
{
  color: #3e3e3e;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}
.inputBox input
{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  border-radius:100px ;
}
.inputBox textarea
{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  min-height: 220px;
  margin-bottom: 10px;
  resize: none;
  border-radius: 20px;
}
.inputBox input[type="submit"]
{
  background: #656565;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  border-radius: 100px ;
  cursor: pointer;
  padding: 14px 15px;
}
.inputBox ::placeholder
{
  color: #999;
}

.info
{
  background:#1f1f1f ;
}
.info h3
{
  color: #fff;
}
.info .infoBox div
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infoBox div span
{
  min-width: 40px;
  height:40px ;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4d4d4d;
  border-radius: 50%;
  font-size: 1.1em;
  margin-right: 15px;
}
.info .infoBox div p
{
  text-align: start;
  color: #fff;
  font-size: 1.1em;
}
.info .infoBox div a
{
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.sci
{
  margin-top: 40px;
  display: flex;
}
.sci li
{
  list-style: none;
  margin-left: 15px;
}
.sci li a
{
  color: #fff;
  font-size: 2em;
  color: #ccc;
}
.sci li a:hover
{
  color: #fff;
}
.map
{
  padding: 5px;
}
.map iframe
{
  height: 100%;
  width: 100%;
}


tbody
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #7d2ae8;
  padding: 40px;
}

.bdy-glmb
{
  position: relative;
  background:#6e83b6;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bdy-glmb .glmb
{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('wave1.png');
  background-size: -30px 100px;
}

.bdy{
    font-family: 'Lato', sans-serif;
    margin: 50px;
}
.container-b{
    width: 60%;
    margin: 0 ;
    margin-top: 100px;
}

.container-b h2{
    position: relative;
    width: 23rem;
    color: hotpink;
    margin: 20px 0;
    left: 30px;
}
.accordion{
    width: 100%;
    padding: 0 5px;
    border: 2px solid #6db5ff;
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    
}

.accordion i {
    color: #6db5ff;
    transition: all .5s ease-in;
}
.accordion .fa-minus{
    display: none;
}
.active-b, .accordion:hover{
    background-color: #6db5ff;
    color: white;
    transition: all .5s ease-in;
    border: 2px solid #dddddd;
}
.active-b .fa-minus{
    display: block;
}
.active-b .fa-plus{
    display: none;
}
.accordion h5{
    font-size: 20px;
    margin: 0;
    color: #001733;
    padding-left: 5px;
}
.active-b i, .active-b h5 , .accordion:hover i , .accordion:hover h5{
    color: white;
}
.panal{
    padding: 0 15px;
    border-left: 1px solid #6db5ff;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    transition: all .5s ease-in;
    max-height: 0;
}






.container-c{
  max-width: 1200px;
  width: 100%;
  padding: 40px 50px  40px  40px;
  background: rgb(255, 255, 255);
  margin:0 auto;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}
.container-c .topic{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .list{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}
.content .list label{
  height: 60px;
  font-size: 15px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: #333;
  z-index: 12;
}
#home:checked ~ .list label.home,
#blog:checked ~ .list label.blog,
#help:checked ~ .list label.help,
#code:checked ~ .list label.code,
#about:checked ~ .list label.about{
  color: #fff;
}
.content .list label:hover{
  color: #6d50e2;
}
.content .slider{
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background: #6d50e2;
  transition: all 0.4s ease;
}
#home:checked ~ .list .slider{
  top: 0;
}
#blog:checked ~ .list .slider{
  top: 60px;
}
#help:checked ~ .list .slider{
  top: 120px;
}
#code:checked ~ .list .slider{
  top: 180px;
}
#about:checked ~ .list .slider{
  top: 240px;
}
.content .text-content{
  width: 80%;
  height: 100%;
}
.content .text{
  display: none;
}
.content .text .title{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}
.content .text p{
  text-align: justify;
}
.content .text-content .home{
  display: block;
}
#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help,
#code:checked ~ .text-content .code,
#about:checked ~ .text-content .about{
  display: block;
}
#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home,
#code:checked ~ .text-content .home,
#about:checked ~ .text-content .home{
  display: none;
}
.content input{
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");
.header {
  font-family: "Exo 2", sans-serif;
  max-width: 1445px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
  background: #6e83b6;
}
.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}
.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
  padding-right: 2rem;
}
.bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  padding-left: 2rem;
}
.sweet-title {
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
}
.sweet-title span {
  display: block;
  position: relative;
}
.sweet-title span:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9, -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
  z-index: 1;
}
.sweet-title span:nth-child(1) {
  padding-right: 2.25rem;
}
.sweet-title span:nth-child(2) {
  padding-left: 2.25rem;
}
.sweet-title span:nth-child(3) {
  padding-left: 2.25rem;
}




.kartu
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  flex-wrap: wrap;
  padding: 40px 0;
}
.kartu .krt 
{
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
  inset -5px -5px -5px rgba(255, 255, 255, 0.5),
  5px 5px 5px rgba(0, 0, 0, 0.5),
  -5px -5px -5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}
.kartu .krt .ktk 
{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.kartu .krt:hover .ktk
{
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg,#b95ce4,#4f29cd);
}
.kartu .krt .ktk .cntnt
{
  padding: 20px;
  text-align: center;
}
.kartu .krt .ktk .cntnt h2
{
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  pointer-events: none;
}
.kartu .krt:hover .ktk .cntnt h2
{
  color: rgba(0, 0, 0, 0.5);
}
.kartu .krt .ktk .cntnt h3
{
  font-size: 1.8em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.kartu .krt .ktk .cntnt p
{
  height: 148px;
  font-size: 1em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.kartu .krt:hover .ktk .cntnt h3,
.kartu .krt:hover .ktk .cntnt p
{
  color: #fff;
}
.kartu .krt .ktk .cntnt a
{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #3586ff;
  border-radius: 20px;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0,.2);
}
.kartu .krt:hover .ktk .cntnt a
{
  background: #ff568f;
}

@media (max-width: 900px){

  .kartu
  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  
  footer p 
  {
    font-size: 0.9em;
  }
  footer .bar-ftr li a
  {
    font-size: 0.6em;
  }
  footer .social_icon li a
  {
    font-size: 1em;
  }
  footer .wave
  {
    width: 100%;
    height: 90px;
  }
  
.komentar
{min-width: 100px;}
.coment
{
  padding: 20px;
}
.coment-box
{
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "form"
  "info"
  "map";
}
.map
{
  min-height: 300px;
}
.inputBox span {

  font-size: 0.8em;
}
.komentar h3
{
  font-size: 1em;
}
.inputBox input {
  font-size: 0.7em;
}
.inputBox textarea {

  font-size: 0.9em;
}
.inputBox input[type="submit"] {
  font-size: 0.8em;
  max-width: 80px;

}
.coment .title h2 {
  font-size: 0.4em;
}

}






@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
.sldr{
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
    display: flex;
  } 
.blog-slider {
     font-family: 'Fira Sans', sans-serif;
	 width: 95%;
	 display: flex;
	 position: relative;
	 max-width: 800px;
	 margin: auto;
	 background: #fff;
	 box-shadow: 0px 14px 80px rgba(142, 0, 155, 0.2);
	 padding: 25px;
	 border-radius: 25px;
	 height: 400px;
	 transition: all 0.3s;
}
 @media screen and (max-width: 992px) {
	 .blog-slider {
		 max-width: 680px;
		 height: 400px;
	}
}
 @media screen and (max-width: 768px) {
	 .blog-slider {
		 min-height: 500px;
		 height: auto;
		 margin: 180px auto;
	}
}
 @media screen and (max-height: 500px) and (min-width: 992px) {
	 .blog-slider {
		 height: 350px;
	}
}
 .blog-slider__item {
	 display: flex;
	 align-items: center;
}
 @media screen and (max-width: 768px) {
	 .blog-slider__item {
		 flex-direction: column;
	}
}
 .blog-slider__item.swiper-slide-active .blog-slider__img img {
	 opacity: 1;
	 transition-delay: 0.3s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > * {
	 opacity: 1;
	 transform: none;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
	 transition-delay: 0.3s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
	 transition-delay: 0.4s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
	 transition-delay: 0.5s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
	 transition-delay: 0.6s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
	 transition-delay: 0.7s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
	 transition-delay: 0.8s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
	 transition-delay: 0.9s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
	 transition-delay: 1s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
	 transition-delay: 1.1s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
	 transition-delay: 1.2s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
	 transition-delay: 1.3s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
	 transition-delay: 1.4s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
	 transition-delay: 1.5s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
	 transition-delay: 1.6s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
	 transition-delay: 1.7s;
}
 .blog-slider__img {
	 width: 300px;
	 flex-shrink: 0;
	 height: 300px;
	 background-image: linear-gradient(147deg, #39e0fe 0%, #bb38fd 74%);
	 box-shadow: 4px 13px 30px 1px rgba(170, 56, 252, 0.2);
	 border-radius: 20px;
	 transform: translateX(-80px);
	 overflow: hidden;
}
 .blog-slider__img:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-image: linear-gradient(147deg, #abc5ff 0%, #f583ff 74%);
	 border-radius: 20px;
	 opacity: 0.8;
}
 .blog-slider__img img {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 display: block;
	 opacity: 0;
	 border-radius: 20px;
	 transition: all 0.3s;
}
 @media screen and (max-width: 768px) {
	 .blog-slider__img {
		 transform: translateY(-50%);
		 width: 90%;
	}
}
 @media screen and (max-width: 576px) {
	 .blog-slider__img {
		 width: 95%;
	}
}
 @media screen and (max-height: 500px) and (min-width: 992px) {
	 .blog-slider__img {
		 height: 270px;
	}
}
 .blog-slider__content {
	 padding-right: 25px;
}
 @media screen and (max-width: 768px) {
	 .blog-slider__content {
		 margin-top: -80px;
		 text-align: center;
		 padding: 0 30px;
	}
}
 @media screen and (max-width: 576px) {
	 .blog-slider__content {
		 padding: 0;
	}
}
 .blog-slider__content > * {
	 opacity: 0;
	 transform: translateY(25px);
	 transition: all 0.4s;
}
 .blog-slider__code {
	 color: #7b7992;
	 margin-bottom: 15px;
	 display: block;
	 font-weight: 500;
}
 .blog-slider__title {
	 font-size: 24px;
	 font-weight: 700;
	 color: #0d0925;
	 margin-bottom: 20px;
}
 .blog-slider__text {
	 color: #4e4a67;
	 margin-bottom: 30px;
	 line-height: 1.5em;
}
 .blog-slider__button {
	 display: inline-flex;
	 background-image: linear-gradient(147deg, #6e83b6 0%, #8901cc 74%);
	 padding: 15px 35px;
	 border-radius: 50px;
	 color: #fff;
	 box-shadow: 0px 14px 80px rgba(46, 1, 169, 0.4);
	 text-decoration: none;
	 font-weight: 500;
	 justify-content: center;
	 text-align: center;
	 letter-spacing: 1px;
}
 @media screen and (max-width: 576px) {
	 .blog-slider__button {
		 width: 100%;
	}
}
 .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
	 bottom: 10px;
	 left: 0;
	 width: 100%;
}
 .blog-slider__pagination {
	 position: absolute;
	 z-index: 21;
	 right: 20px;
	 width: 11px !important;
	 text-align: center;
	 left: auto !important;
	 top: 50%;
	 bottom: auto !important;
	 transform: translateY(-50%);
}
 @media screen and (max-width: 768px) {
	 .blog-slider__pagination {
		 transform: translateX(-50%);
		 left: 50% !important;
		 top: 205px;
		 width: 100% !important;
		 display: flex;
		 justify-content: center;
		 align-items: center;
	}
}
 .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	 margin: 8px 0;
}
 @media screen and (max-width: 768px) {
	 .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
		 margin: 0 5px;
	}
}
 .blog-slider__pagination .swiper-pagination-bullet {
	 width: 11px;
	 height: 11px;
	 display: block;
	 border-radius: 10px;
	 background: #062744;
	 opacity: 0.2;
	 transition: all 0.3s;
}
 .blog-slider__pagination .swiper-pagination-bullet-active {
	 opacity: 1;
	 background: #c800da;
	 height: 30px;
	 box-shadow: 0px 0px 20px rgba(176, 0, 245, 0.3);
}
 @media screen and (max-width: 768px) {
	 .blog-slider__pagination .swiper-pagination-bullet-active {
		 height: 11px;
		 width: 30px;
	}
}

.hero
{
  width: 80%;
  height: 450px;
  position: relative;
  margin: 100px auto;
  overflow: hidden;
}
.box-buton
{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.box-buton button
{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
}
.box-buton .fad 
{
  margin-right: 20px;
}
.box-buton button:hover .fad
{
  color: #482896;
}
.uraian-right img
{
  width: 350px;
}
.uraian
{
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 5% auto;
  transform: translateX(100%);
  transition: 0.3s;
}
.uraian-left
{
  flex-basis: 50%;
}
.uraian-left p
{
  font-size: 13px;
  padding: 30px 0;
}
.uraian-left a , .uraian-left a:hover
{
  width: 150px;
  display: block;
  padding: 8px 5px;
  border-radius: 20px;
  text-decoration: none;
  background: #482896;
  color: #c800da;
  text-align: center;
}
.uraian-right
{
  flex-basis: 50%;
  text-align: center;
}
#uraian1
{
  transform: translateY(0px);
}
#hero_btn1
{
  color: #e601c0;
}

.container-a
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}
.card-a
{
  position: relative;
  width: 320px;
  height: 450px;
  background: #287bff;
  margin: 30px;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 15px 0 #fff,
  inset 0 -15px 0 rgba(255, 255, 255, 0.25) , 0 45px 0 rgba(0, 0, 0, 0.15);
}
.card-a::before
{
  content: '';
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  pointer-events: none;
  filter: blur(5px);
  transform: rotate(35deg);
  background: linear-gradient(90deg,transparent,rgba(225,225,225,0.2));
}
.card-a:nth-child(1)
{
  background: linear-gradient(to bottom,#ff2ae0,#645bf6);
}
.card-a:nth-child(2)
{
  background: linear-gradient(to bottom,#ffec61,#f321d7);
}
.card-a:nth-child(3)
{
  background: linear-gradient(to bottom,#24ff72,#9a4eff);
}
.icon-a
{
  position: relative;
  background: #fff;
  width: 140px;
  height: 120px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1),
  inset 0 -8px 0 #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.icon-a::before
{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  border-top-right-radius: 50px;
  background: transparent;
  box-shadow: 15px -15px 0 15px #fff;
}
.icon-a::after
{
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  border-top-left-radius: 50px;
  background: transparent;
  box-shadow: -15px -15px 0 15px #fff;
}
.icon-a ion-icon
{
  color: #000;
  position: relative;
  font-size: 6em;
  z-index: 100;
  --ionicon-stroke-width:24px;
}
.content-a
{
  position: absolute;
  padding-top: 140px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.content-a h2
{
  font-size: 1.75em;
  color: #fff;
  margin-bottom: 10px;
}
.content-a p
{
  color: #fff;
  line-height: 1.5em;
}

.swiper {
  width: 100%;
  height: 100%;
  background: transparent;
}

.swiper-slide {
  font-size: 18px;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.swiper-button-next ,.swiper-button-prev ,.swiper-pagination
{
  color: #0d0925;
}

.fixed-bottom
{
  z-index: 100;
  margin-left:1170px ;
}
.service
{
  display: flex;
}
.sre
{
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sre li
{
  color: #000;
  position: absolute;
  list-style: none;
  left: -2px;
  transform-origin:100px ;
  transition: 0.5s;
  transition-delay:calc(0.1s * var(--i)) ;
  transform: rotate(0deg) translateX(80px);
}
.sre.ply li
{
  transform: rotate(calc(170deg / 5 * var(--i)));
}
.sre li a
{
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #c800da;
  transform: rotate(calc(170deg / -5 * var(--i)));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  color: #000;
  transition: 0.5s;
}
.sre li a:hover
{
  color: crimson;
}
.toggle
{
 position: absolute;
 width: 60px; 
 height: 60px;
 background: #f583ff;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 300;
 border-radius: 50%;
 cursor: pointer;
 box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
 font-size: 2em;
 transition: transform 1.25s;
}
.sre.ply .toggle
{
  transform: rotate(315deg);
}